@import '/home/berkerz/dotfiles/modules/nord.css';


* {
    /* `otf-font-awesome` is required to be installed for icons */
    margin-top: 1px;
    font-family: FontAwesome, Iosevka Nerd Font;
    font-size: 14px;
    font-weight: bold;
}
window#waybar {

    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;


    min-height: 0;
    color: @nord7;
  
 
 }
 

 #window,
#workspaces,
#custom-power {
    margin: 1px 2px;
}
#custom-power:hover {
    color: @nord7;
}

 #group-right, #group-sound, #custom-power, #window, #workspaces, #custom-crypto 
 {
     background: @nord0;
     border-radius: 10px;
     box-shadow: 0px 0px 3px rgba(0,0,0,1);
     border: 1px solid @nord8;
     padding: 0px 5px;
     margin: 3px;
     color: @nord6;
 }

 
/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;

}

#workspaces button:hover {
    background: @nord10;
}

#workspaces button.active {
    color: @nord4;
    background-color: @nord7;
    text-shadow:
      0.25px 0.25px 0   @nord7,
      -0.25px 0.25px 0  @nord7,
      -0.25px -0.25px 0 @nord7,
      0.25px -0.25px 0  @nord7;
  }

#workspaces button.urgent {
    background-color: @nord11;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;

}





#tray {
    
    background: @nord7;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0,0,0,1);
    border: 1px solid @nord0;
    padding: 1px 5px;
    margin: 3px;

}
#tray > .button {
    color: @nord5;
}
#tray > .active {
    color: @nord12;
}

#tray > .passive {
    color: @nord6;
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @nord11;
}


#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;

    background-color: transparent;

    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 5px;
    background-color: @nord0;
    opacity: 1;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    color: #90b1b1;
    background-color: #90b1b1;
}



/*d'ici bas on s'en fout, these work mostly as archive + laptop config maybe */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}



#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}




/*

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

*/