@define-color bar-bg rgba(31,35,40,0.95);

@define-color main-bg #2B313E;
@define-color main-fg #93cee9;

@define-color wb-act-bg #93cee9;
@define-color wb-act-fg #1f2328;

@define-color wb-hvr-bg #93cee9;
@define-color wb-hvr-fg #1f2328;

* {
    background-image: none;
    font-family: "Iosevka Nerd Font Mono";
    font-size: 24px;
    font-weight: 500;
}

window {
    background-color: rgba(16,20,25,0.1); /* or whatever */
}

button {
    color: white;
    background-color: @main-bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}

/* focus / hover base */
button:focus {
    background-color: @wb-hvr-bg;
    background-size: 40%;
    border-radius: 16px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover {
    /*background-color: @wb-hvr-bg;*/
    background-size: 40%;
    border-radius: 16px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}


/* FOCUS OVERRIDES (450px + radius 16) */
button:focus#lock     { margin: 450px 0px 450px 500px; border-radius: 16px; }
button:focus#logout   { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:focus#shutdown { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:focus#suspend  { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:focus#reboot   { margin: 450px 500px 450px 0px; border-radius: 16px; }


/* HOVER OVERRIDES (450px + radius 16) 
button:hover#lock     { margin: 450px 0px 450px 500px; border-radius: 16px; }
button:hover#logout   { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:hover#shutdown { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:hover#suspend  { margin: 450px 0px 450px 0px;   border-radius: 16px;          }
button:hover#reboot   { margin: 450px 500px 450px 0px; border-radius: 16px; }
*/
/* BASE POSITIONS (500px + radius 16) */
#lock     { background-image: image(url("/home/berkerz/dotfiles/modules/wlogout/icons/lock_white.png"));
            border-radius: 16px 0 0 16px;
            margin: 500px 0px 500px 500px; }

#logout   { background-image: image(url("/home/berkerz/dotfiles/modules/wlogout/icons/logout_white.png"));
            border-radius: 0;
            margin: 500px 0px; }

#shutdown { background-image: image(url("/home/berkerz/dotfiles/modules/wlogout/icons/shutdown_white.png"));
            border-radius: 0;
            margin: 500px 0px; }

#suspend  { background-image: image(url("/home/berkerz/dotfiles/modules/wlogout/icons/suspend_white.png"));
            border-radius: 0;
            margin: 500px 0px; }

#reboot   { background-image: image(url("/home/berkerz/dotfiles/modules/wlogout/icons/reboot_white.png"));
            border-radius: 0 16px 16px 0;
            margin: 500px 500px 500px 0px; }
